.imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .slider {
    position: absolute;
    top: 0;
    left: -1px;
    width: 100%;
    height: 100%;
  }
  
  .sliderContainer {
    position: relative;
    width: 34%; 
    margin: 0 auto; 
  }
  
  .imageFrame {
    position: relative;
    width: 100%; 
    padding-top: 94%; 
    border: 12px solid green;
    box-sizing: border-box;
     overflow: hidden;  
    border-radius: 50%;
  }
  
  .sliderWindow {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .sliderLine {
    display: flex;
    width: 100%;
  }
  
  .sliderItem {
    position: relative;
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
  
  .imageContainer {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 100%;
    
  }
  
  .imageContainer > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
  }
  .prevButton,
  .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(254, 254, 254);
    border: none;
    cursor: pointer;
    padding: 5px;
    z-index: 100;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.06);
    
&:hover {
  fill: 
  orangered;
  
} 
  }
  
  .prevButton {
    left: -19px;
  }
  
  .nextButton {
    right: -17px;
  }
  
  .arrowIcon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  .wrapperMainHero{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
   
  }
  
  .wrapperTitleDescriptionSelects{
    width: 33%;
    padding: 10px 25px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
 
.emodji{
  font-size: 40px;
} 

