.imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .slider {
    position: absolute;
    top: 0;
    left: -1px;
    width: 100%;
    height: 100%;
  }
  
  .sliderContainer {
    position: relative;
    width: 34%; 
    margin: 0 auto; /* Центрируем по горизонтали */
  }
  
  .imageFrame {
    position: relative;
    width: 100%; /* Ширина кадра */
    padding-top: 94%; /* Соотношение сторон 1:1 */
    border: 12px solid yellow; /* Толстый желтый бордер */
    box-sizing: border-box;
     overflow: hidden;  
    border-radius: 50%;
  }
  
  
  
  .sliderWindow {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .sliderLine {
    display: flex;
    width: 100%;
  }
  
  .sliderItem {
    position: relative;
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
  
  .imageContainer {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 100%;
    
    /* overflow: hidden; */
  }
  
  .imageContainer > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
  }
  
  .dishDetails {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 20px; /* Увеличиваем отступ */
    width: 33%;
    padding: 10px;
  }
  .divIngredients{
    text-align: start;
    padding-left: 15px;
  }
  .dishName {
    font-weight: bold;
    margin-bottom: 20px;
    color: gray;
    font-size: 20px;
    text-align: center;
    
  }
  
  .ingredients {
    font-style: italic;
    color: #666;
  }
  
  .prevButton,
  .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(254, 254, 254);
    border: none;
    cursor: pointer;
    padding: 5px;
    z-index: 100;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.06);
    
&:hover {
  fill: 
  orangered;
  
} 
  }
  
  .prevButton {
    left: -19px;
   
  }
  
  .nextButton {
    right: -17px;
   
  }
  
  .arrowIcon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  .wrapperMainHero{
    display: flex;
    gap: 10px;
    
  }
  .buttonOrderNow {
    background-color: rgba(187, 243, 48, 1);
    border-radius: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px; /* Верхний и нижний паддинг 10px, левый и правый паддинг 20px */
  }
  .wrapperTitleDescriptionButtonOrder{
    width: 33%;
    padding: 10px;
  }
  .ingredients{
  text-indent: 15px;
}
.emodji{
  font-size: 40px;
}