.ingredients{
    text-indent: 15px;
    font-style: italic;
    color:green;
  }
  .buttonOrderNow {
   
    background-color: rgba(187, 243, 48, 1);
    border-radius: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px; 
  }
  .dishName {
    margin-bottom: 20px;
    color: green;
   
    text-align: center;
  }
  .divIngredients{
    text-align: start;
    padding-left: 15px;
    font-size: 20px;
  }
  .dishDetails {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 20px; /* Увеличиваем отступ */
    width: 33%;
    padding: 10px;
   
  }
  .weight{
    color: green;
    font-size: 20px;
  }
  .price{
    color: green;
    font-size: 20px;
  }
  .buttonOrderNow:hover
   {
    background-color: #7fff00; 
  }

  