@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

 @font-face {
  font-family: 'Aston';
  src: url('/fonts/Aston.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.titleFoodSta{
    color: orange;
     font-family: "Aston", cursive;  
    /* font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal; */
   
}
.titleCafeRestaurant{
    color: green;
}
.main{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* чтобы main занимал всю высоту экрана */
    background-size: cover; /* чтобы изображение покрывало весь элемент */
    background-repeat: no-repeat; /* чтобы изображение не повторялось */
    background-position: center; /* чтобы изображение было центрировано */
    text-align: center; /* для центрирования текста */
    padding-bottom: 40px;
}

.video {
    
    border: 3px solid white;
  }

