.orderItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantityControl {
  display: flex;
  gap: 5px;
}

.quantityControl button {
  padding: 5px 10px;
  font-size: 16px;
}